@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Muli:bold');


* {
    margin: 0; padding: 0;
  }
  html, body {
    width: 100%;
    height: 100%;
    
  }
  #Page {
      height: 125vh;
  }
  #container {
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    
  }
  #background_video {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%; width: 100%;
  }
  #video_cover {
    position: absolute;
    width: 100%; height: 100%;
    
    background-size: cover;
    background-position: center;
  }
  /* Demo page specific styles */
  body {
    text-align: center;
    font-family: 'proxima-nova', Helvetica;
  }
  #container {
    height: 120vh;
  }
  #overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    height: 100vh;
  }

  .TitleContainer {
    z-index: 2;
    position: relative;
    /* Vertical center */
    top: 10%;
    transform: translateY(-50%);
}
.TitleContainer > img {
height: 8vh;
}
.Gradient {
    background-image: linear-gradient(to left, #FE674E ,#FDD64D);
    height: 100vh;
    width: 120vw;
    top:52%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    transform: rotate(353deg);
    z-index: 2;
    
}
.GradientOpacity {
    background-image: linear-gradient(to left, #FE674E ,#FDD64D);
    height: 100vh;
    width: 120vw;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    transform: rotate(353deg);
    opacity: 0.6;
    z-index: 1;
    
}
.PhoneContainer {
    z-index: 2;
    width: 80vh;
    max-width: 2000px;
    position: relative;
    box-sizing: border-box;
    /* Vertical center */
    top: -20%;
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translatey(-50px);
    }
    50% {
        transform: translatey(-60px);
    }
    100% {
        transform: translatey(-50px);
    }
}
.PhoneContainer > img {
    width: 50vh;
    max-width: 1024px;

}
  #main_content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    /* Vertical center */
    top:50%;
    transform: translateY(0%);
    height: 115vh;
  }

  #main_content #head {
    text-transform: uppercase;
    text-align: left;
}


  #main_content .sub_head {
    font-weight: bolder;
    font-family: 'Muli';
    color: white;
    font-size: 2rem;
  }
  #main_content .info {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Montserrat', Helvetica;
    z-index: 2;
    text-align: left;
    width: 50vw;

  }
  #links {
    transform: translateY(0%);
    z-index: 2;
    width: auto;
    margin-top: 40px; 
    height: 50vh;
  }
  #links > form {
    height: 60vh;
  } 
  #links .InputStyle {
    border: none;
    min-height: 80px;
    height: 120px;
    width: 350px;
    color: black;
    font-size: 2rem;
    text-align: center;
    margin:0 5px 5px 0;
  }
  #links .InputButtonStyle {
    height: 120px;
    width: 350px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color:#79E892;
    overflow: scroll;
   
  }
  #footer {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 120vh; 
    background-color: white;
    height: 10vh;
    width: 100vw;
    z-index: 4;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


  #footer a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
  }
  #footer .Logo {
    height: 5vh;
    width: auto;
  }
  #footer a:first-child {
    float: left;
  }
  #footer a:last-child {
    float: right;
  }